/* Load Bootstrap */
$font-size-base: 0.9rem;
$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.8;
$h3-font-size: $font-size-base * 1.6;
$h4-font-size: $font-size-base * 1.4;
$h5-font-size: $font-size-base * 1.2;
$h6-font-size: $font-size-base;
$navbar-dark-color: rgba(255, 255, 255, 0.8);
$navbar-dark-hover-color: rgba(255, 255, 255, 1);
@import "node_modules/bootstrap/scss/bootstrap";

/* Load Fontawesome */
$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts/";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular.scss";

/* Re-introduce .btn-xs (known from Bootstrap 3) into Boostrap 4 */
.btn-xs {
  @include button-size($btn-padding-y-sm * .75, $btn-padding-x-sm,
          $btn-font-size-sm * .9, $btn-line-height-sm, $btn-border-radius);
}

/* Add some global styles */
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
